.container
{
    text-align: center;
    margin: auto;
    width: 100%;
}

.dice
{
    text-align: center;
    display: inline-block;
}

body
{
    background-color: darkslategrey;
}

h1
{
    font-size: 5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: ghostwhite;
}

p
{
    font-size: 2rem;
    font-family: cursive;
    color: snow;
}

img
{
    width: 50%;
}

footer
{
    color: aliceblue;
    text-align: center;
    font-family: monospace;
    margin: auto;
}